
class @{className} {

    hello = '@{hello}';

    form = {
        text:'@{$form.text1}',
        select:'@{$form.select1}',
        textarea:'@{$form.textarea1}',
        tmpl: @{$form['demo.tmpl']}
    };

}